{
  "plugins": [
    "transform-class-properties",
    "syntax-decorators",
    "transform-decorators-legacy"
  ],
  "presets": [
    ["es2015", { "modules": false }],
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
