body {
  font-size: 16px;

  * {
    background: $global-background-color;
    color: $white;
  }

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
}

.app {
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  width: 100%;
}

.menu {
  background-color: $global-background-color;
  border-bottom: $border-standardized;
  color: $white;
  display: flex;
  flex-direction: column;
  height: $main-header-height;
  position: absolute;
  top: -50px;
  width: 100%;

  .logo-container {
    align-self: flex-start;
    display: flex;
    height: $main-header-height;
    justify-content: flex-start;
    padding: 5px 10px;
    width: 200px;

    .rr-logo {
      height: 100%;
    }
  }
}

.app-content {
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;

  .fleet-list {
    border-right: $border-standardized;
    height: 100%;
    width: 20%;
  }

  .main-view {
    height: 100%;
    width: 80%;
  }
}
