html {
  font-size: 10px;

  @media (--lg) {
    font-size: 12px;
  }

  @media (--xl) {
    font-size: 14px;
  }
}

body {
  color: var(--black);
  font-family: var(--font-family-sans-serif);
}

.App {
  font-size: 1.8rem;
  padding: 2rem;

  @media (--md) {
    padding: 3rem;
  }

  @media (--lg) {
    padding: 4rem;
  }
}

a {
  color: var(--grey-text);
}

a:hover {
  color: var(--black);
}

h1,
h2,
h3 {
  margin: 2rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

button {
  background: transparent;
  border-radius: 1.6rem;
  border: 0.1rem solid var(--black);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.7rem 2rem;
}

button:disabled {
  opacity: 0.3;
}

button:hover {
  background: var(--white);
}

.Menu {
  align-items: center;
  border-bottom: 1px solid var(--grey-border);
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin: 0 auto 2rem;
  max-width: 60rem;

  @media (--lg) {
    margin-left: 20rem;
    margin: 0 0 2rem 20rem;
    padding-bottom: 0;
  }
}

.Menu img {
  display: block;
}

.Menu-logo {
  margin-right: 2rem;
  width: 6rem;

  @media (--lg) {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    border-right: 1px solid var(--grey-border);
    width: 20rem;
    padding: 4rem;
  }
}

.Menu-link {
  display: inline-block;
  font-family: var(--font-family-serif);;
  font-style: italic;
  margin-left: 1.5rem;
  line-height: 3rem;
  text-decoration: none;

  @media (--md) {
    margin-left: 3rem;
  }

  @media (--lg) {
    margin: 0 3rem 0 0;
    line-height: 7.5rem;
  }
}

.Menu-link--active {
  color: var(--black);
}

.Page {
  max-width: 60rem;
  margin: 0 auto;

  @media (--lg) {
    margin: 0 0 0 20rem;
  }
}

.Example {
  background: #F6F8FA;
  padding: 2rem;
  border-radius: 0.4rem;
}

.Example .Icon {
  margin-right: 10px;
}

.BackgroundImgExample {
  background-image: url(../assets/img/book1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
  max-width: 25rem;
}

.ImgExample {
  max-width: 25rem;
}

hr {
  border: 0;
  border-top: 1px solid var(--grey-border);
  margin: 2rem 0;
}

.People-list {
  @media (--md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.People-person {
  border-bottom: 1px solid var(--grey-border);
  padding-bottom: 2rem;

  @media (--md) {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}
